<div class="subheading">
  <div class="title">
    <a name="{{headingName}}-{{name}}" href="#{{headingName}}-{{name}}" class="symbol-link">
      {{headingName}} / {{name}}
    </a>
  </div>
  <div class="description">
    {{{description}}}
  </div>
</div>
