<div>
  <div class="header">
     {{!-- TODO Make dynamic / Turn into version switcher --}}
    <div>API Reference <span class="version-string">version 0.0.1</span></div>
  </div>

  {{#headings}}
  <div class="heading">
    <div class="symbol">
      <a class="heading-name" href="#{{name}}">{{name}}</a>
    </div>

    {{#subheadings}}
    <div class="subheading">
      <div class="symbol">
        <a class="subheading-name" href="#{{../name}}-{{name}}">{{name}}</a>
      </div>


      {{#symbols}}
      <div class="symbol">
        <a href="#{{urlHash}}">{{displayName}}</a>
      </div>
      {{/symbols}}

    </div>
    {{/subheadings}}

  </div>
  {{/headings}}
</div>
