<!-- Header -->
<header class="mdc-toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start mdc-toolbar__section--shrink-to-fit">
      <button id="nav-menu-button" class="material-icons mdc-toolbar__menu-icon">menu</button>
      <span class="mdc-toolbar__title">
        <a href="{{url_for ''}}">TensorFlow.js</a>
      </span>

    </section>
    <section class="mdc-toolbar__section nav-links">
      <nav>
        <a href="{{url_for '/#getting-started'}}">Getting Started</a>
        <a href="{{url_for '/tutorials/'}}">Tutorials & Guides</a>
        <a href="{{url_for (concat '/api/' (latestVersion))}}/">API Reference</a>
        <a href="{{url_for '/faq/'}}">FAQ</a>
      </nav>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-end">
      <nav>
        <form id="codepen-form" action="https://codepen.io/pen/define" method="POST" target="_blank">
          <input type="hidden" name="data" value='{
                            "title": "Try TensorFlow.js",
                            "html": {{codepenHtml}},
                            "js": {{codepenJs}},
                            "editors": "1011",
                            "layout": "top",
                            "description": "Browser based machine learning.",
                            "js_external": "https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@{{latestVersion}}"}'>
          <input class="mdc-button mdc-button--raised" type="submit" value="Try It Live!">
        </form>
        <a class='button-link' href="https://github.com/tensorflow/tfjs">
          <button class="mdc-button mdc-button--raised">GitHub</button>
        </a>
      </nav>
    </section>
  </div>
  <div class='survey-link'>
    <a href='https://docs.google.com/forms/d/e/1FAIpQLSc7rY2tbwZ4UvIIEA5srh-aB4m69l3IkmFmi3o2PFg9buy3bA/viewform'>
      Please Take the TensorFlow.js Survey!
    </a>
  </div>
</header>

<aside class="sidebar mdc-drawer mdc-drawer--temporary">
  <nav class="mdc-drawer__drawer">
    <div class="mdc-drawer__toolbar-spacer">
      <span class="mdc-toolbar__title">TensorFlow.js</span>
    </div>

    <nav>
      <ul class="mdc-list">
        <li class="mdc-list-item">
          <a href="{{url_for '/#getting-started'}}">Getting Started</a>
        </li>
        <li class="mdc-list-item">
          <a href="{{url_for '/tutorials/'}}">Tutorials & Guides</a>
        </li>
        <li class="mdc-list-item">
          <a href="{{url_for (concat '/api/' (latestVersion))}}/">API Reference</a>
        </li>
        <li class="mdc-list-item">
          <a href="{{url_for '/faq/'}}">FAQ</a>
        </li>
        <li class="mdc-list-item">
          <a href="https://github.com/tensorflow/tfjs">GitHub</a>
        </li>
      </ul>
    </nav>

  </nav>
</aside>
