<div class="symbol class">
  <div class="symbol-header">
    <a class="symbol-link" name="{{urlHash}}" href="#{{urlHash}}">
      {{~displayName~}}
    </a>
    <span class="signature">
      {{#if inheritsFrom}}
      <span>extends {{{markdownInner inheritsFrom}}}</span>
      {{/if}}
    </span>
    <span class="chip">class</span>
    {{#each tags}}
    <span class="chip">{{.}}</span>
    {{/each}}
    <span class="source-link">
      <a href="{{githubUrl}}" target=_blank>Source</a>
    </span>
  </div>

  <div class="documentation">{{{markdown documentation}}}</div>

  {{#if extraTypes}}
    {{#extraTypes}}
    {{> apiParamList parameters=params heading=description}}
    {{/extraTypes}}
  {{/if}}

  {{!-- Method List --}}
  <div class="method-list">
    {{#methods}}
    {{~> apiFunction this isMethod=true~}}
    {{/methods}}
  </div>
</div>
