<!-- Copyright 2018 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
==============================================================================-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tensorflow.js</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">

    {{!-- <link rel="stylesheet" href="/css/material-components-web.css" /> --}}
    <link rel="stylesheet" href="{{url_for 'css/layout.css'}}" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="{{url_for 'js/vendor/material-components-web.js'}} "></script>
    <script src="{{url_for 'js/vendor/tf.min.js'}}"></script>
    <script>
      window.dl = window.tf
    </script>
    <script src="{{url_for 'js/layout.js'}}"></script>

    {{#if (isApiPage path)}}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
      <link rel="stylesheet" href="{{url_for 'css/api.css'}}" />
      <script src="{{url_for 'js/api.js'}}"></script>
    {{else}}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
    {{/if}}
  </head>

  <body class="mdc-typography">
    {{!-- Header --}}
    {{> header }}
    {{!-- Content --}}
    <div class="main">
      {{{body}}}
    </div>
    {{!-- Footer --}}
    {{> footer }}
  </body>
</html>
